:root {
  --tab-dark: #d0d0d0;
  --tab: #dcdcdc;
  --tab-light: #f0f0f0;
  --tab-accent: #f0f0f0;
  --tile-size: 40px;
  --board-size-in-columns: 15;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
  display: flex;
  flex-direction: row;
  padding: 3px;
  gap: 3px;
}

.tab-control {
  display: flex;
  flex-direction: column;
  width: 300px;

  .tab-header {
    display: flex;
    flex-direction: row;
    gap: 2px;
    padding: 2px;
    border: 1px solid var(--tab-accent);
    background-color: var(--tab);

    .tab-button {
      flex-grow: 1;
      font-size: 16px;
      padding: 5px;
      transition: 0.4s;
      cursor: pointer;
      text-align: center;
      border-radius: 3px;
      user-select: none;

      &:hover {
        background-color: var(--tab-dark);
      }
    }

    .tab-button-active {
      background-color: var(--tab-light);
    }

    .tab-indicator {
      position: absolute;
      height: 3px;
      background-color: var(--tab-accent);
      transition: 0.4s;
    }
  }

  .tab-content {
    display: grid;
    border: 1px solid var(--tab-accent);
    border-top: 0px;
    height: 100%;

    .tab-page {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      gap: 3px;
      grid-row: 1;
      grid-column: 1;
      opacity: 0;
      visibility: collapse;
      transition: 0.4s;
    }

    .tab-page-active {
      opacity: 1;
      visibility: visible;
    }
  }
}

.playing-area {
  display: grid;
  grid-template-columns: repeat(var(--board-size-in-columns), auto);
  grid-auto-flow: row;
  width: fit-content;
  gap: 3px;

  .square {
    width: var(--tile-size);
    height: var(--tile-size);

    &.square-void {
      background-color: transparent;
    }

    &.square-standard {
      background-color: var(--tab-dark);
    }

    &.square-multiplier {
      background-color: var(--tab-light);
    }
    
    &.square-starter {
      background-color: salmon;
    }

    &.available {
      border: 2px solid var(--tab-accent);
      box-sizing: border-box;
    }

    .tile {
      position: relative;
      width: var(--tile-size);
      height: var(--tile-size);

      // &::after {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      //   background-color: rgba(var(--tab-accent), 0.6);
      // }
    }
  }
}

.score-table {
  width: 100%;
  border-collapse: collapse;

  thead {
    background-color: var(--tab);

    tr {
      border-bottom: 1px solid var(--tab-dark);

      th {
        padding: 5px;
        font-weight: normal;
        font-size: 12px;
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid var(--tab-dark);

      td {
        padding: 5px;
        font-weight: normal;
        font-size: 11px;
        border-right: 1px solid var(--tab-dark);
        text-align: center;
        
        &:empty::after{
          content: "\00a0"; /* Prevents empty row collapse */
        }

        &:last-child {
          border-right: 0px;
        }
      }

      &:nth-child(even) {
        background: var(--tab);
      }
    }

    .score-table-row {
      visibility: collapse;

      &.active {
        visibility: visible;
      }
    }

    .score-table-paging {
      text-align: center;

      .navigation {
        margin: 3px;
        user-select: none;
        cursor: pointer;
        font-weight: normal;
        font-size: 12px;

        &.active {
          text-decoration: underline;
        }
      }
    }

    .score-table-summary {
      text-align: right;
    }
  }
}

.tile-tray {
  padding: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .tile-slot {
    width: calc(var(--tile-size) + 6px);
    height: calc(var(--tile-size) + 6px);
    padding: 3px;
    border-radius: 6px;
    background-color: var(--tab);
    
    .tile {
      width: var(--tile-size);
      height: var(--tile-size);
      padding: 3px;
      cursor: grab;
    }
  }
}

.t1 {
  background-image: url(.././assets/dice-six-faces-one.svg);
}

.t2 {
  background-image: url(.././assets/dice-six-faces-two.svg);
}

.t3 {
  background-image: url(.././assets/dice-six-faces-three.svg);
}

.t4 {
  background-image: url(.././assets/dice-six-faces-four.svg);
}

.t5 {
  background-image: url(.././assets/dice-six-faces-five.svg);
}

.t6 {
  background-image: url(.././assets/dice-six-faces-six.svg);
}